Repository TokamakUI/Tokamak, pull requests merged in 2021-09, with the labels that each got.

#444 Add HTML renderer support for AngularGradient
  .github/workflows/ci.yml
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/AngularGradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/Gradient.swift
  Sources/TokamakCore/Tokens/UnitPoint.swift
  Sources/TokamakDemo/ShapeStyleDemo.swift
  Sources/TokamakStaticHTML/Shapes/_ShapeView.swift
  Sources/TokamakStaticHTML/Tokens/Tokens.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/VisualTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testGradients-A.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testGradients-B.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testGradients.1.png
Labels: bug, SwiftUI compatibility, DOM/HTML renderer

#447 Save HTML snapshots with .html extension.
  Tests/TokamakStaticHTMLTests/HTMLStrategy.swift
  Tests/TokamakStaticHTMLTests/HTMLTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.1.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.2.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testHTMLSanitizer.1.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testHTMLSanitizer.2.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testOptional.1.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.1.html
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.2.html
Labels: test suite

#446 Refactor NavigationView
  Sources/TokamakStaticHTML/Views/Navigation/NavigationView.swift
Labels: bug, DOM/HTML renderer
