Repository TokamakUI/Tokamak, pull requests merged in 2021-08, with the labels that each got.

#169 Add `Toolbar` implementation for HTML renderer
  Sources/TokamakCore/Modifiers/Navigation.swift
  Sources/TokamakCore/Preferences/PreferenceKey.swift
  Sources/TokamakCore/Preferences/_PreferenceReadingView.swift
  Sources/TokamakCore/Styles/TextFieldStyle.swift
  Sources/TokamakCore/Views/Navigation/NavigationBarItem.swift
  Sources/TokamakCore/Views/Navigation/NavigationView.swift
  Sources/TokamakCore/Views/Navigation/Toolbar.swift
  Sources/TokamakCore/Views/Navigation/ToolbarItem.swift
  Sources/TokamakCore/Views/Text/TextField.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDOM/Views/Text/TextField.swift
  Sources/TokamakDemo/TokamakDemo.swift
  Sources/TokamakGTK/Views/TextField.swift
  Sources/TokamakStaticHTML/Core.swift
  Sources/TokamakStaticHTML/Resources/TokamakStyles.swift
  Sources/TokamakStaticHTML/Views/Layout/ScrollView.swift
  Sources/TokamakStaticHTML/Views/Navigation/NavigationView.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.2.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testOptional.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.2.txt
Labels: SwiftUI compatibility, DOM/HTML renderer

#435 Revise ShapeStyle and add Gradients
  Package.swift
  Sources/TokamakCore/Shapes/Shape.swift
  Sources/TokamakCore/Shapes/ShapeStyles/BackgroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ContentStyles.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ForegroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/AngularGradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/EllipticalGradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/Gradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/LinearGradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Gradients/RadialGradient.swift
  Sources/TokamakCore/Shapes/ShapeStyles/HierarchicalShapeStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Material.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ShapeStyle.swift
  Sources/TokamakCore/Styles/PrimitiveButtonStyle.swift
  Sources/TokamakCore/Tokens/Color/Color.swift
  Sources/TokamakCore/Tokens/Controls/Prominence.swift
  Sources/TokamakCore/Views/Controls/Button.swift
  Sources/TokamakCore/Views/Progress/ProgressViewStyle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDOM/DOMRenderer.swift
  Sources/TokamakDOM/Views/Buttons/Button.swift
  Sources/TokamakDemo/ButtonStyleDemo.swift
  Sources/TokamakDemo/ShapeStyleDemo.swift
  Sources/TokamakStaticHTML/Core.swift
  Sources/TokamakStaticHTML/Shapes/_ShapeView.swift
  Sources/TokamakStaticHTML/StaticHTMLRenderer.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/LayoutTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/ShapeTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/Snapshotting+Image.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/ViewTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/VisualTests.swift
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testAnchoredModifiers.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testAspectRatio.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testAspectRatio.2.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testBackground.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testBackground.2.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testFrames.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testOverlay.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testOverlay.2.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testStacks.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/LayoutTests/testStacks.2.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/ShapeTests/testContainerRelativeShape.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/ShapeTests/testPath.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/ShapeTests/testStrokedCircle.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/ViewTests/testProgressView.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testContentStyles.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testContentStyles.2.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testForegroundStyle.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testGradients.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testMaterial.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testOpacity.1.png
  Tests/TokamakStaticHTMLTests/RenderingTests/__Snapshots__/VisualTests/testScaleEffect.1.png
Labels: SwiftUI compatibility, DOM/HTML renderer

#438 Update `CHANGELOG.md` for the 0.8.0 release
  CHANGELOG.md
Labels: documentation

#440 Add `@ezraberch` to the list of maintainers
  README.md
Labels: documentation

#437 Add HTML sanitizer to Text
  README.md
  Sources/TokamakDOM/DOMRenderer.swift
  Sources/TokamakDemo/TextDemo.swift
  Sources/TokamakStaticHTML/Modifiers/_DomTextSanitizer.swift
  Sources/TokamakStaticHTML/Sanitizer.swift
  Sources/TokamakStaticHTML/Views/Text/Text.swift
  Tests/TokamakStaticHTMLTests/HTMLTests.swift
  Tests/TokamakStaticHTMLTests/SanitizerTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testHTMLSanitizer.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testHTMLSanitizer.2.txt
Labels: bug, DOM/HTML renderer
