Repository TokamakUI/Tokamak, pull requests merged in 2021-07, with the labels that each got.

#273 Support `spacing` property on `HStack`/`VStack`
  NativeDemo/TokamakDemo.xcodeproj/project.pbxproj
  README.md
  Sources/TokamakCore/Stubs/CGStubs.swift
  Sources/TokamakCore/Views/Containers/List/List.swift
  Sources/TokamakCore/Views/Containers/Section.swift
  Sources/TokamakCore/Views/Layout/HStack.swift
  Sources/TokamakCore/Views/Layout/VStack.swift
  Sources/TokamakDemo/StackDemo.swift
  Sources/TokamakDemo/TokamakDemo.swift
  Sources/TokamakGTK/Views/Stack.swift
  Sources/TokamakStaticHTML/Resources/TokamakStyles.swift
  Sources/TokamakStaticHTML/Views/Layout/HStack.swift
  Sources/TokamakStaticHTML/Views/Layout/VStack.swift
  Tests/TokamakStaticHTMLTests/LayoutTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testOptional.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.2.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/LayoutTests/testStacks.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/LayoutTests/testStacks.2.png
Labels: DOM/HTML renderer, SwiftUI compatibility, bug

#415 Add HTML implementation for `opacity` modifier
  Sources/TokamakCore/Modifiers/Effects/OpacityEffect.swift
  Sources/TokamakStaticHTML/Modifiers/Effects/OpacityEffect.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testOpacity.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testPath.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testStacks.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testStacks.2.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testStrokedCircle.1.png
Labels: DOM/HTML renderer, SwiftUI compatibility

#416 Add ContainerRelativeShape
  Sources/TokamakCore/Shapes/ContainerRelativeShape.swift
  Sources/TokamakCore/Shapes/Ellipse.swift
  Sources/TokamakCore/Shapes/Rectangle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDemo/PathDemo.swift
  Sources/TokamakStaticHTML/Core.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testContainerRelativeShape.1.png
Labels: SwiftUI compatibility

#418 Add `Material` to the HTML renderer
  Sources/TokamakCore/Modifiers/StyleModifiers.swift
  Sources/TokamakCore/Shapes/ShapeStyles/BackgroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ForegroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/Material.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ShapeStyle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDemo/ShapeStyleDemo.swift
  Sources/TokamakStaticHTML/Core.swift
  Sources/TokamakStaticHTML/Modifiers/ViewModifier.swift
  Sources/TokamakStaticHTML/Modifiers/_BackgroundShapeModifier.swift
  Sources/TokamakStaticHTML/Modifiers/_BackgroundStyleModifier.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testMaterial.1.png
Labels: DOM/HTML renderer, SwiftUI compatibility

#419 Add Primary/Secondary/Tertiary/QuaternaryContentStyle
  Sources/TokamakCore/Shapes/ShapeStyles/BackgroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ContentStyles.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ForegroundStyle.swift
  Sources/TokamakCore/Shapes/ShapeStyles/ShapeStyle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDemo/ShapeStyleDemo.swift
  Sources/TokamakStaticHTML/Core.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testContentStyles.1.png
Labels: DOM/HTML renderer, SwiftUI compatibility

#420 Check minWidth/Height == nil
  Sources/TokamakCore/Modifiers/FlexFrameLayout.swift
  Sources/TokamakCore/Views/Containers/List/List.swift
  Sources/TokamakCore/Views/Containers/Section.swift
  Sources/TokamakStaticHTML/Modifiers/LayoutModifiers.swift
  Sources/TokamakStaticHTML/Views/Containers/List.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testFrames.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testOpacity.1.png
Labels: DOM/HTML renderer, bug

#422 Add `aspectRatio` modifier
  Sources/TokamakCore/Modifiers/AspectRatioLayout.swift
  Sources/TokamakCore/Views/Image.swift
  Sources/TokamakCore/Views/Text/Text.swift
  Sources/TokamakGTK/Views/Image.swift
  Sources/TokamakStaticHTML/Modifiers/LayoutModifiers.swift
  Sources/TokamakStaticHTML/Resources/TokamakStyles.swift
  Sources/TokamakStaticHTML/Views/Images/Image.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.2.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testOptional.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.2.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testAspectRatio.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testAspectRatio.2.png
Labels: SwiftUI compatibility

#425 Add ProgressView
  .github/workflows/ci.yml
  NativeDemo/TokamakDemo.xcodeproj/project.pbxproj
  Sources/TokamakCore/Views/Progress/ProgressView.swift
  Sources/TokamakCore/Views/Progress/ProgressViewStyle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDemo/ProgressViewDemo.swift
  Sources/TokamakDemo/TokamakDemo.swift
  Sources/TokamakStaticHTML/Core.swift
  Sources/TokamakStaticHTML/Views/Progress/ProgressView.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testProgressView.1.png
  docs/progress.md
Labels: DOM/HTML renderer, SwiftUI compatibility

#429 Fix background/overlay layout in DOM/HTML renderers
  Sources/TokamakCore/Modifiers/StyleModifiers.swift
  Sources/TokamakStaticHTML/Modifiers/LayoutModifiers.swift
  Tests/TokamakStaticHTMLTests/RenderingTests.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testBackground.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testBackground.2.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testOverlay.1.png
  Tests/TokamakStaticHTMLTests/__Snapshots__/RenderingTests/testOverlay.2.png
Labels: DOM/HTML renderer, bug

#431 Add controlSize/controlProminence modifiers
  Sources/TokamakCore/Styles/ButtonStyle.swift
  Sources/TokamakCore/Styles/ControlGroupStyle.swift
  Sources/TokamakCore/Styles/PrimitiveButtonStyle.swift
  Sources/TokamakCore/Tokens/Controls/ButtonRole.swift
  Sources/TokamakCore/Tokens/Controls/ControlSize.swift
  Sources/TokamakCore/Tokens/Controls/Prominence.swift
  Sources/TokamakCore/Views/Buttons/Button.swift
  Sources/TokamakCore/Views/Controls/Button.swift
  Sources/TokamakCore/Views/Controls/ControlGroup.swift
  Sources/TokamakCore/Views/Controls/Link.swift
  Sources/TokamakCore/Views/Controls/Selectors/DatePicker.swift
  Sources/TokamakCore/Views/Controls/Selectors/Picker.swift
  Sources/TokamakCore/Views/Controls/Selectors/Slider.swift
  Sources/TokamakCore/Views/Controls/Selectors/Toggle.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDOM/Views/Buttons/Button.swift
  Sources/TokamakDemo/ButtonStyleDemo.swift
  Sources/TokamakStaticHTML/Resources/TokamakStyles.swift
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testFontStacks.2.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testOptional.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.1.txt
  Tests/TokamakStaticHTMLTests/__Snapshots__/HTMLTests/testPaddingFusion.2.txt
  Tests/TokamakTests/ReconcilerTests.swift
Labels: DOM/HTML renderer, SwiftUI compatibility

#430 Add `ToolbarItem` and its builder functions
  Sources/TokamakCore/Views/Navigation/ToolbarContentBuilder.swift
  Sources/TokamakCore/Views/Navigation/ToolbarItem.swift
Labels: SwiftUI compatibility

#426 Add View Traits and transitions
  NativeDemo/TokamakDemo.xcodeproj/project.pbxproj
  Package.swift
  Sources/TokamakCore/Animation/Transaction.swift
  Sources/TokamakCore/Modifiers/ModifiedContent.swift
  Sources/TokamakCore/Modifiers/ViewModifier.swift
  Sources/TokamakCore/MountedViews/MountedApp.swift
  Sources/TokamakCore/MountedViews/MountedCompositeElement.swift
  Sources/TokamakCore/MountedViews/MountedCompositeView.swift
  Sources/TokamakCore/MountedViews/MountedElement.swift
  Sources/TokamakCore/MountedViews/MountedEmptyView.swift
  Sources/TokamakCore/MountedViews/MountedHostView.swift
  Sources/TokamakCore/MountedViews/MountedScene.swift
  Sources/TokamakCore/MountedViews/UnmountTask.swift
  Sources/TokamakCore/Renderer.swift
  Sources/TokamakCore/StackReconciler.swift
  Sources/TokamakCore/ViewTraits/Transition/Transition.swift
  Sources/TokamakCore/ViewTraits/Transition/TransitionBoxes.swift
  Sources/TokamakCore/ViewTraits/_ViewTraitKey.swift
  Sources/TokamakCore/ViewTraits/_ViewTraitStore.swift
  Sources/TokamakDOM/Core.swift
  Sources/TokamakDOM/DOMNode.swift
  Sources/TokamakDOM/DOMRenderer.swift
  Sources/TokamakDOM/Modifiers/Transitions.swift
  Sources/TokamakDemo/TokamakDemo.swift
  Sources/TokamakDemo/TransitionDemo.swift
  Sources/TokamakGTK/GTKRenderer.swift
  Sources/TokamakStaticHTML/Modifiers/ModifiedContent.swift
  Sources/TokamakStaticHTML/Modifiers/_BackgroundStyleModifier.swift
  Sources/TokamakStaticHTML/StaticHTMLRenderer.swift
  Sources/TokamakStaticHTML/Views/HTML.swift
  Sources/TokamakStaticHTML/Views/Images/Image.swift
  Sources/TokamakStaticHTML/Views/Layout/HStack.swift
  Sources/TokamakStaticHTML/Views/Layout/VStack.swift
  Sources/TokamakStaticHTML/Views/Layout/ZStack.swift
  Sources/TokamakStaticHTML/Views/Spacers/Spacer.swift
  Sources/TokamakTestRenderer/TestRenderer.swift
Labels: DOM/HTML renderer, SwiftUI compatibility

#434 Fix SwiftLint action
  .github/workflows/swiftlint.yml
Labels: continuous integration
