Repository TokamakUI/Tokamak, pull requests merged in 2022-06, with the labels that each got.

#491 Add `_ShapeView` and `background` modifiers support to Fiber renderers
  Sources/TokamakCore/Fiber/Fiber.swift
  Sources/TokamakCore/Fiber/FiberReconciler+TreeReducer.swift
  Sources/TokamakCore/Fiber/FiberReconciler.swift
  Sources/TokamakCore/Fiber/FiberRenderer.swift
  Sources/TokamakCore/Fiber/Layout/BackgroundLayoutComputer.swift
  Sources/TokamakCore/Fiber/Layout/FlexLayoutComputer.swift
  Sources/TokamakCore/Fiber/Layout/FrameLayoutComputer.swift
  Sources/TokamakCore/Fiber/Layout/ShrinkWrapLayoutComputer.swift
  Sources/TokamakCore/Fiber/LayoutComputer.swift
  Sources/TokamakCore/Fiber/ViewArguments.swift
  Sources/TokamakCore/Fiber/ViewVisitor.swift
  Sources/TokamakCore/Modifiers/StyleModifiers.swift
  Sources/TokamakCore/Shapes/Shape.swift
  Sources/TokamakCore/Views/ViewBuilder.swift
  Sources/TokamakDOM/DOMFiberRenderer.swift
  Sources/TokamakStaticHTML/Modifiers/LayoutModifiers.swift
  Sources/TokamakStaticHTML/Modifiers/ViewModifier.swift
  Sources/TokamakStaticHTML/Modifiers/_BackgroundStyleModifier.swift
  Sources/TokamakStaticHTML/Shapes/Path.swift
  Sources/TokamakStaticHTML/Shapes/_ShapeView.swift
  Sources/TokamakStaticHTML/StaticHTMLFiberRenderer.swift
  Sources/TokamakStaticHTML/Views/HTML.swift
Labels: SwiftUI compatibility, DOM/HTML renderer, Fiber

#485 Add `_PaddingLayout` support to layout engine
  Sources/TokamakCore/Fiber/Layout/PaddingLayoutComputer.swift
  Sources/TokamakStaticHTML/Modifiers/LayoutModifiers.swift
Labels: SwiftUI compatibility, DOM/HTML renderer, Fiber

#496 Add file size to benchmark script
  .github/workflows/ci.yml
  benchmark.sh
Labels: continuous integration

#497 Implement `AnyShape`
  Sources/TokamakCore/Animation/_AnyAnimatableData.swift
  Sources/TokamakCore/Layout/ProposedViewSize.swift
  Sources/TokamakCore/Shapes/AnyShape.swift
  Sources/TokamakCore/Shapes/Shape.swift
Labels: SwiftUI compatibility

#499 Fix build and tests for 5.7 toolchain
  .github/workflows/ci.yml
  Sources/TokamakCore/Reflection/Pointers/MetadataOffset.swift
  Sources/TokamakDOM/Storage/WebStorage.swift
Labels: bug

#500 Support `Image` in Fiber renderers
  Sources/TokamakCore/Fiber/FiberReconciler.swift
  Sources/TokamakCore/Fiber/FiberRenderer.swift
  Sources/TokamakCore/Fiber/Layout/_AspectRatioLayout+Layout.swift
  Sources/TokamakCore/Fiber/Passes/ReconcilePass.swift
  Sources/TokamakCore/Views/Image.swift
  Sources/TokamakDOM/DOMFiberRenderer.swift
  Sources/TokamakDOM/Storage/WebStorage.swift
  Sources/TokamakStaticHTML/StaticHTMLFiberRenderer.swift
  Sources/TokamakStaticHTML/Views/Images/Image.swift
  Sources/TokamakTestRenderer/TestFiberRenderer.swift
  Tests/TokamakLayoutTests/AspectRatioTests.swift
Labels: SwiftUI compatibility, Fiber
